/*---------------------------------- GERAL------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  max-width: 1280px;
  font-size: 62.5%; /* 1rem = 10px */
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Nunito';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;
}
.wrapper {
  width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
section {
  padding-block: 10rem;
}

/* HEADER/BUSCA */

header {
  background-color: rgb(146, 113, 113);

  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
.searchmenu {
  display: flex;
  align-items: center;
}
.busca {
  width: 10rem;
  height: 5.21rem;

  padding: 1rem;

  border: 0.091rem solid rgba(209, 209, 209, 1);
}
.buttonheader {
  width: 6.3rem;
  height: 5.21rem;

  background-color: rgba(232, 55, 55, 1);

  border: none;
  border-radius: 0 0.4rem 0.4rem 0;
}
.listamenu {
  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectmenu svg {
  height: 1.595rem;
}
.listaitem {
  width: 6rem;
  height: 2rem;
}
footer {
  display: flex;
  align-items: center;
}

.container {
  width: 600px;
  padding: 50px;
}
.container form label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.container form input {
  color: inherit;
  padding: 0.2rem;
  border: none;
  border-bottom: solid 2px;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containermodal {
  background-color: #fff;
  color: #000;
  width: 60%;
  height: 60%;
  border-radius: 20px;
}
.closemodal {
  background-color: transparent;
  outline: none;
  width: 32px;
  height: 32px;
  border: none;
}
